[submodule "vim/bundle/vim-bad-whitespace"]
	path = vim/bundle/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
